<p>about works!</p>
<div class="mx-4 sm:mx-auto">
    <div class="container mx-auto">
        <div>
            <div id="country-list-items" class="grid md:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-8 w-full">
                <div id="TR"><a
                        class="align-bottom focus-visible:outline-none focus-visible:shadow-focus text-primary active:text-primary block group ease-out h-full rounded-sm bg-primary hover:bg-tertiary hover:text-primary transition-colors"
                        data-ga-slug="N/A" href="/esim-turkey/">
                        <div
                            class="flex flex-col items-start text-left rtl:text-right gap-4 relative word-break-word transform-gpu border-none p-6 h-full rounded-sm bg-primary hover:bg-tertiary hover:text-primary transition-colors">
                            <div class="h-full flex gap-4 items-center w-full">
                                <div
                                    class="w-9 min-w-9 h-9 border-lg border-neutral-0 relative rounded-full overflow-hidden shrink-0">
                                    <img alt="Turkey flag" loading="lazy" decoding="async" data-nimg="fill"
                                        sizes="100vw"
                                        srcset="/_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=640&amp;q=75 640w, /_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=750&amp;q=75 750w, /_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=828&amp;q=75 828w, /_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=1080&amp;q=75 1080w, /_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=1200&amp;q=75 1200w, /_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=1920&amp;q=75 1920w, /_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=2048&amp;q=75 2048w, /_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=3840&amp;q=75 3840w"
                                        src="/_next/image/?url=%2Fflags%2Ftr_flag.webp&amp;w=3840&amp;q=75"
                                        style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;">
                                </div>
                                <p class="body-md-medium md:body-lg-medium">Turkey</p>
                                <div class="ml-auto"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" viewBox="0 0 16 16"
                                        class="mt-1 ltr:-rotate-90 rtl:rotate-90 pointer-events-none">
                                        <title>Chevron right</title>
                                        <path fill="currentColor" fill-rule="evenodd"
                                            d="M13.2151 6.8326L8.43758 11.4101C8.27758 11.5451 8.12758 11.6001 8.00008 11.6001C7.87258 11.6001 7.70083 11.5446 7.58533 11.4329L2.78533 6.8326C2.54543 6.6051 2.53763 6.2026 2.76733 5.9851C2.99546 5.74447 3.37683 5.73665 3.61508 5.96713L8.00008 10.1701L12.3851 5.9701C12.6226 5.73962 13.0046 5.74745 13.2328 5.98807C13.4626 6.2026 13.4551 6.6051 13.2151 6.8326Z">
                                        </path>
                                    </svg></div>
                            </div>
                        </div>
                    </a></div>
                <div id="US"><a
                        class="align-bottom focus-visible:outline-none focus-visible:shadow-focus text-primary active:text-primary block group ease-out h-full rounded-sm bg-primary hover:bg-tertiary hover:text-primary transition-colors"
                        data-ga-slug="N/A" href="/esim-united-states/">
                        <div
                            class="flex flex-col items-start text-left rtl:text-right gap-4 relative word-break-word transform-gpu border-none p-6 h-full rounded-sm bg-primary hover:bg-tertiary hover:text-primary transition-colors">
                            <div class="h-full flex gap-4 items-center w-full">
                                <div
                                    class="w-9 min-w-9 h-9 border-lg border-neutral-0 relative rounded-full overflow-hidden shrink-0">
                                    <img alt="United States flag" loading="lazy" decoding="async" data-nimg="fill"
                                        sizes="100vw"
                                        srcset="/_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=640&amp;q=75 640w, /_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=750&amp;q=75 750w, /_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=828&amp;q=75 828w, /_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=1080&amp;q=75 1080w, /_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=1200&amp;q=75 1200w, /_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=1920&amp;q=75 1920w, /_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=2048&amp;q=75 2048w, /_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=3840&amp;q=75 3840w"
                                        src="/_next/image/?url=%2Fflags%2Fus_flag.webp&amp;w=3840&amp;q=75"
                                        style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;">
                                </div>
                                <p class="body-md-medium md:body-lg-medium">United States</p>
                                <div class="ml-auto"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" viewBox="0 0 16 16"
                                        class="mt-1 ltr:-rotate-90 rtl:rotate-90 pointer-events-none">
                                        <title>Chevron right</title>
                                        <path fill="currentColor" fill-rule="evenodd"
                                            d="M13.2151 6.8326L8.43758 11.4101C8.27758 11.5451 8.12758 11.6001 8.00008 11.6001C7.87258 11.6001 7.70083 11.5446 7.58533 11.4329L2.78533 6.8326C2.54543 6.6051 2.53763 6.2026 2.76733 5.9851C2.99546 5.74447 3.37683 5.73665 3.61508 5.96713L8.00008 10.1701L12.3851 5.9701C12.6226 5.73962 13.0046 5.74745 13.2328 5.98807C13.4626 6.2026 13.4551 6.6051 13.2151 6.8326Z">
                                        </path>
                                    </svg></div>
                            </div>
                        </div>
                    </a></div>
                <div id="TH"><a
                        class="align-bottom focus-visible:outline-none focus-visible:shadow-focus text-primary active:text-primary block group ease-out h-full rounded-sm bg-primary hover:bg-tertiary hover:text-primary transition-colors"
                        data-ga-slug="N/A" href="/esim-thailand/">
                        <div
                            class="flex flex-col items-start text-left rtl:text-right gap-4 relative word-break-word transform-gpu border-none p-6 h-full rounded-sm bg-primary hover:bg-tertiary hover:text-primary transition-colors">
                            <div class="h-full flex gap-4 items-center w-full">
                                <div
                                    class="w-9 min-w-9 h-9 border-lg border-neutral-0 relative rounded-full overflow-hidden shrink-0">
                                    <img alt="Thailand flag" loading="lazy" decoding="async" data-nimg="fill"
                                        sizes="100vw"
                                        srcset="/_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=640&amp;q=75 640w, /_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=750&amp;q=75 750w, /_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=828&amp;q=75 828w, /_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=1080&amp;q=75 1080w, /_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=1200&amp;q=75 1200w, /_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=1920&amp;q=75 1920w, /_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=2048&amp;q=75 2048w, /_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=3840&amp;q=75 3840w"
                                        src="/_next/image/?url=%2Fflags%2Fth_flag.webp&amp;w=3840&amp;q=75"
                                        style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;">
                                </div>
                                <p class="body-md-medium md:body-lg-medium">Thailand</p>
                                <div class="ml-auto"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" viewBox="0 0 16 16"
                                        class="mt-1 ltr:-rotate-90 rtl:rotate-90 pointer-events-none">
                                        <title>Chevron right</title>
                                        <path fill="currentColor" fill-rule="evenodd"
                                            d="M13.2151 6.8326L8.43758 11.4101C8.27758 11.5451 8.12758 11.6001 8.00008 11.6001C7.87258 11.6001 7.70083 11.5446 7.58533 11.4329L2.78533 6.8326C2.54543 6.6051 2.53763 6.2026 2.76733 5.9851C2.99546 5.74447 3.37683 5.73665 3.61508 5.96713L8.00008 10.1701L12.3851 5.9701C12.6226 5.73962 13.0046 5.74745 13.2328 5.98807C13.4626 6.2026 13.4551 6.6051 13.2151 6.8326Z">
                                        </path>
                                    </svg></div>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</div>